@import "rwd";
@import "variables";
@import "font";
@import "btns";

html,
body,
#app {
  margin: 0;
  padding: 0;
  background-color: #000;
}

html.dark {
  background: #222;
  color: white;
}

a {
  color: $color_identity_Primary;
  text-decoration: none
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
  line-height: 1;
}
input,input:focus {
  border:none;
  outline: none;
}