@import '@/assets/scss/index.scss';

.nav {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($color_gray_80, 0.5);
  backdrop-filter: blur(100px);
  padding: 0 $spacing_4 0 $spacing_4;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;

  @include pad {
    padding: 0 $spacing_2 0 $spacing_2;
  }

  .nav_left {
    display: flex;
    align-items: center;

    img {
      margin-right: 25px;
    }

    .tabs {
      display: flex;

      .tab_item {
        @include font('Body2-Med', #fff);
        display: flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        margin-right: $spacing_3;
        &:hover {
          color: $color_identity_Primary;
        }

        &.active {
          color: $color_identity_Primary;
        }
      }
    }
  }

  .nav_right {
    height: 100%;
    @include font('Body2-Med', #fff);
    display: flex;
    align-items: center;

    // 登出狀態顯示
    .login-buttons {
      display: flex;
      align-items: center;
      margin-right: 15px;

      @include mobile {
        display: none;
      }

      .login {
        height: 30px;
        padding: 4px 15px;
        @extend .button-text;
        margin-right: $spacing_3;
      }

      .sign-up {
        height: 30px;
        padding: 4px 15px;
        @extend .button-filled;
      }
    }

    // 登入狀態顯示
    .login-methods {
      display: flex;
      height: 100%;
    }

    .icon {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: $spacing_2;

      @include pad {
        margin-left: $spacing_2-5;
      }

      cursor: pointer;

      &.burger {
        display: none;
      }
    }

    // 切換語言 & 幣種
    .EnglishUSD {
      display: flex;
      height: 100%;
      margin-left: 26px;
      align-items: center;
      cursor: pointer;
      @include font('Cap1-Reg', #fff);
    }
  }
}

// 個人中心
.drop-down-menu {
  position: relative;
  width: fit-content;
  margin-right: 0;

  .drop-down-title {
    padding: 8px;
    height: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    .has-notread {
        width:10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color_state_Error;
        position: absolute;
        right: 5px;
        top: 18px;
    }
  }

  .no-active {
    display: block;
  }

  .active {
    display: none;
  }

  &:hover {
    color: $color_identity_Primary;

    .no-active {
      display: none;
    }

    .active {
      display: block;
    }

    .drop-down {
      transition-delay: 0s;
      opacity: 1;
      height: auto;
    }
  }

  .drop-down {
    // 消息中心
    &.notice {
      width: 320px;
      .notice-title {
        @include font("Sub Heading4", $color_gray_White);
        padding: 20px 24px;
      }
      ::v-deep(.el-tabs) {
        .el-tabs__header {
          margin-bottom: 4px;
        }
        .el-tabs__nav-wrap {
          height: 30px;
          .el-tabs__nav-scroll{
            height: 100%;
          }
          .el-tabs__nav {
            width: 100%;
            height: 95%;
          }
          &::after {
            height: 1px;
            background-color: $color_gray_50;
          }
        }
        .el-tabs__active-bar {
        background-color: $color_identity_Primary;
        width: 64px !important;
        left: 38px;
        height: 3px;
        border-radius: 2px
        }
        .el-tabs__item {
          @include font("Body2-Med", $color_gray_50);
          width: 50%;
          height: 100%;
          text-align: center;
          .count {
            @include font("Cap1-Bold", $color_gray_White);
            padding: 0 8px;
            margin-left: 10px;
            background: $color_gray_60;
            border-radius: 4px;
          }
          &.is-active {
            color: $color_identity_Primary;
            .count {
              @include font("Cap1-Bold", $color_identity_Primary);
              background: $color_identity_Light;
            }
          }
        }
  }
    }
    .view-all-btn {
      width: 20%;
      height: 30px;
      margin: 20px 24px;
      float: right;
      padding: 10px 0;
      white-space: nowrap;
      background: $color_identity_Primary;
      border-radius: 8px;
      display: flex;
      align-items: center;
      margin-top: 10px;
      justify-content: center;
      @include font("Body2-Med", #000);
      cursor: pointer;
      &:hover {
          background: $color_identity_Secondary;
      }
    }
    .drop-down-item-msg {
      width: 100%;
      padding: 8px 24px;
      &:hover {
        background-color: $color_gray_90;
      }

      .message {
        display: flex;
        img {
          margin-right: 4px;
          width: 16px;
        }
        p {
          @include font("Cap1-Reg", $color_gray_White);
          color: #fff;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
      .content {
        @include font("Cap1-Reg", $color_gray_50);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        margin: 4px 0;
      }
      .time {
        @include font("Cap1-Reg", $color_gray_50);
      }
    }
    .no-message {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 24px;
      img {
        width: 120px;
      }
      p {
        @include font("Body1-Med", $color_gray_60);
        margin-top: 12px;
      }
    }

    opacity: 0;
    height: 0;
    transition: all linear 0.2s;
    transition-delay: 1s;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    top: 64px;
    right: 0;
    width: 220px;
    background-color: $color_gray_80;

    .member-info {
      @include font("Body1-Med", $color_gray_White);
      padding: 16px;
      padding-left: 19px;
      border-bottom: 1px solid #fff;

      &:hover .email {
        color: $color_identity_Primary;
      }

      .email {
        color: #fff;
      }

      .status {
        margin-top: 8px;
        display: flex;
        align-items: center;
        @include font("Body1-Med", $color_gray_50);
        .id {
          margin-right: 12px;
        }
        .kyc_verify {
          @include font("Cap1-Reg", $color_identity_Primary);
          display: flex;
          align-items: center;
          padding: 4px;
          border-radius: 4px;
          border: 0.5px solid $color_identity_Primary;
        }
        .kyc_unverify {
          @include font("Cap1-Reg", $color_gray_60);
          display: flex;
          align-items: center;
          padding: 4px;
          border-radius: 4px;
          border: 0.5px solid $color_gray_60;
        }
      }
    }



    .drop-down-item {
      // height: 50px;
      line-height: 30px;
      padding: 0 20px;
      display: flex;
      justify-content: content;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $color_gray_90;
      }

      &.active {
        background-color: $color_gray_90;
      }

      .item-text {
        flex: 1;
        height: 56px;
        display: flex;
        align-items: center;
        @include font('Body2-Med', #fff);
        &.logout{
          @include font('Body2-Med', $color_gray_60);
        }

        .item-icon {
          margin-right: 8px;
        }
      }
    }
  }
}

.drop-down-menu-mobile {
  display: none !important;
}

// RWD Setting
.pc {
  display: flex;
  height: 100%;
}

.pad {
  display: none;
}

@include pad {
  .pc {
    display: none;
  }

  .pad {
    display: flex;
    height: 100%;
  }
}